* {
    box-sizing: border-box;
}

.img { 
        width: 100%;
        height:auto;
    }

/* --- BANNER --- */

section.coursesbanner {
    grid-area: banner;
    padding: 7em;
    margin: 1em;
    border: 2px transparent;
    border-radius: 7px;
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 20%, rgba(03, 12, 24, 1) 80%),url(images/triathlonbanner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.coursesbannertext {
    font-size: 3em;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    text-align: left;
}

main h2{
    font-size: 1.9em;
    border-bottom: 1.5px solid red;
    padding-bottom: .5em;
}

main dt{
    padding: 2em 0 .5em 0;
    text-align: left;
    margin: 0;
}

main dd{
     font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-transform: none;
}


/*=============================
  Desktop / Tablet Styling Here
===============================*/


@media only screen and (min-width:1000px) {
      body {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
        grid-template-areas: "header header header header header"
                             "banner banner banner banner banner"
                             "aside aside main main main"
                             "section section section section section"
                             "footer footer footer footer footer";
      }
    
    section.coursesbanner {
            grid-area: banner;
            padding: 11em;
            margin: 2em;
    }
    
    h1.coursesbannertext {
        font-size: 5em;
        color: white;
        font-family: 'Maven Pro', sans-serif;
    
}
    
    
}