/* =====================
  GLOBAL Styling Here
=======================*/
* {
    box-sizing: border-box;
}

.img { 
        width: 100%;
        height:auto;
    }

/* --- BANNER --- */

    /*-image-*/
section.banner {
    grid-area: banner;
    padding: 7em;
    margin: 1em;
    border: 2px transparent;
    border-radius: 7px;
    background-image:linear-gradient(to bottom left, rgba(0, 0, 0, 0) 20%, rgba(03, 12, 24, 1) 80%),url('images/triathlonhero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*-text in image-*/
.banner-text {
  position: relative;
  text-align: left;
  color: white; 
    font-family: 'Maven Pro', sans-serif;
}


/* #events {
    font-size: 0.7em;
    color: #ff0000;
    font-family: 'Catamaran', sans-serif;
} This is for RACEINFO page*/

#brand {
    font-size: 3.2em;
    text-decoration: none;
    color: black;
    font-family: 'Maven Pro', sans-serif;
}

#swimbikerun {
    font-size: 3em;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}

#fun {
    font-size: 3em;
    color: white;
    text-shadow: 0 0 5px #FF0000,
        0 0 10px #FF0000,
        0 0 20px #FF0000,
        0 0 30px #FF0000,
        0 0 40px #FF0000;
    font-family: 'Maven Pro', sans-serif;
}

#aceinthehole {
    font-size: 1.5em;
    color: white;
    font-family: 'Cantarell', sans-serif;
}

#multisport {
    font-size: .8em;
    color: white;
   font-family: 'Cantarell', sans-serif;
}

/*-- end Banner--/

/* -- GLOBAL CLOCK -- */

.clock h3 {
    padding-top: 0.5em;
  font-weight: 800;
  letter-spacing: .125rem;
    word-spacing: 0.3em;
  text-transform: uppercase;
    font-size: 1.5em;
    color: red;
}

.clock li {
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.clock li span {
  display: block;
  font-size: 2rem;
}

aside.clock {
   grid-area: aside;
   background-color: #2c3e50;
        background-color: #F6F7FA; 
    border-radius: 7px;
        justify-content: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8em;
        margin: 1em 4em 2em 4em;
        padding: 1em;
    color: black;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}


/* ---end clock ---*/



/* =====================
  Mobile Styling Here
=======================*/

/* Notice: the template areas listed are the only ones that show up. If I want to get rid of a certain div in mobile, just don't include it in that grid-template-areas list! */

/* Notice: The "min-height" keeps the entire viewport filled. Keep at 100 */
/* Notice: Under grid-template-area, "content" is for one column, followed by "footer below. Under Desktop, it is two identified areas (sidebar content") next to each other in a row, on top of two others. */


body {
      display: grid;
      min-height: 100vh;
      min-width: 100%;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas: "header"
                           "banner"
                           "aside"
                           "main"
                           "section"
                           "footer";
}

/* Header = mobile nav */

header {
    grid-area: header;
    background-color: white;   
}


main {
    grid-area: main; 
    padding: 2.5em 4em 2.5em 4em;
    margin: 1em;
    border: 2px transparent;
    border-radius: 7px;
    background-color: #F6F7FA;
}

main p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-transform: none;
    color: black;
}

.redletters {
    color: red;
    text-transform: none;
}


section.bottom {
    grid-area: section;
    padding: 2.5em 4em 2.5em 4em;
    margin: 1em;
    border: 2px transparent;
    border-radius: 7px;
    background-color: #F6F7FA;
}

section.bottom h3 {
    text-align: center;
    padding-bottom: 0.7em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    color: black;
}

section.bottom p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-transform: none;
    color: black;
}

/* -- Footer Styling --*/

footer {
    grid-area: footer;
    color: white;
    background:#FF0000;
text-align: center;
padding: 2em;
}

footer .row ul li {
    list-style-type: none;
}

footer .row ul li a{
    text-decoration: none;
    color: white;
display: block;
margin: 10px 0px;
text-align:left;
    font-size: .8em;
}

footer .row a:hover{
color: black;
}

footer i{
margin: 1em;
    color: white;
    font-size: 1.5em;
}

footer i:hover{
color: black;
}

footer .row p{
    font-size: .7em;
    padding-top: 1em;
}






/*=============================
  Desktop / Tablet Styling Here
===============================*/


@media only screen and (min-width:1000px) {
      body {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
        grid-template-areas: "header header header header header"
                             "banner banner banner banner banner"
                             "aside aside main main main"
                             "section section section section section"
                             "footer footer footer footer footer";
      }

        section.banner {
            grid-area: banner;
            padding: 11em;
            margin: 2em;
    }

    /*.banner-text {
        font-size: 5em;
    }*/
    
    #coursedetailstext {
        font-size: 5em;
    }
    
       aside.clock {
                font-size: 1.2em;
                margin: 3em;
                padding: 2em;
    }

    .clock h3 {
      font-weight: 800;
      letter-spacing: .125rem;
        font-size: 1.5em;
    }
    
    main {
        padding: 3em 6em 3em 6em;
        margin: 2em;
    }

    main p {
        font-size: 1.3em;
    }
    
    section.bottom {
        padding: 1em 2em 2em 2em;
        margin: 2em 2em 0 2em;
        border-radius: 7px;
        background-color: #F6F7FA;
    }
    
    section.bottom p {
        font-size: 1.5em;
        text-transform: none;
        padding: 0 15em 0 15em;
    }

    section.bottom h3 {
        padding: 0.7em 0em 0.7em 0em;
        font-size: 2em;
        letter-spacing: .125rem;
        word-spacing: 0.3em;
    }

    
footer{
padding: 2em 0 0 1em;
font-family: 'Lato', sans-serif;
text-align: center;
}

footer .row{
width: 100%;
margin: 0;
padding: .8em 2em 2em 2em;
color: ghostwhite;
}

footer .row a{
text-decoration: none;
color: white;
transition: 0.5s;
}

footer .row ul{
width: 100%;
}

footer .row ul li{
display: inline-block;
margin: 0px 30px;
    font-size: 1.2em;
}

footer .row a i{
font-size: 2.5em;
margin: 0 .8em;
}

    footer .row p {
        font-size: .7em;
        padding-bottom: 1em;
    }
    

}

